{% extends 'base.html.twig' %}
 
{% block title %}Project index{% endblock %}
 
{% block test %}
    <div class="container-fluid">
        <h2 class="text-center mt-5 mb-3"></h2>
        <div class="card">
            <!-- <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('app_register') }}"> 
                    Create New Project 
                </a>
            </div> -->

            <div class="report-header">
                <h1 class="recent-Articles">Liste Users</h1>
                <a href="{{ path('app_register') }}"><button class="view">Create New User</button></a> 
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th width="330px">Action</th>
                    </tr>
                    {% for user in projects %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.contact }}</td>
                        <td>
                                <a class="btn btn-outline-info" type="button" href="">Show</a>
                                <a class="btn btn-outline-success" type="button" href="">Edit</a>
                                <a type="button" onclick="return confirmRegistre(this)" class="btn btn-outline-danger" href="{{ path('app_utilisateur_delete', {id: user.id}) }}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script>

function confirmRegistre(el) {
        swal({
            title: "Êtes-vous sûr ?",
            text: "Une fois supprimé, vous ne pourrez pas récupérer ce fichier!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            })
            .then((willDelete) => {
            if (willDelete) {
                // swal("Poof! Your imaginary file has been deleted!", {
                // icon: "success",
                // });
                window.location = el.getAttribute("href");
            } else {
                swal("Votre fichier  est en sécurité !");
            }
            });
            return false;
        }
    </script>
 
{% endblock %}