{% extends 'base.html.twig' %}
 
{% block title %}Project index{% endblock %}
 
{% block test %}
    <div class="container-fluid" style="width: 140%; position: relative; right: 280px;">
        <h2 class="text-center mt-5 mb-3"></h2>
        <div class="card">

            <div class="report-header">
                <h1 class="recent-Articles">Liste Des Rapports</h1>
                <!-- <a href="{{ path('app_register') }}"><button class="view">Create New User</button></a>  -->
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>UserName</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Titre Rapport</th>
                        <th>Date Rapport</th>
                        <th>Contenu Rapport</th>
                        <th width="330px">Action</th>
                    </tr>
                    {% for rapport in rapports %}
                    <tr>
                        <td>{{ rapport.id }}</td>
                        <td>{{ rapport.utilisateur.firstname }}</td>
                        <td>{{ rapport.utilisateur.lastname }}</td>
                        <td>{{ rapport.utilisateur.username }}</td>
                        <td>{{ rapport.utilisateur.contact }}</td>
                        <td>{{ rapport.utilisateur.email }}</td>
                        <td>{{ rapport.titreRapport }}</td>
                        <td>{{ rapport.rapportDate|date ("m/d/Y") }}</td>
                        <td>{{ rapport.texteRapport }}</td>
                        <td>
                                <a class="btn btn-outline-info" type="button" href="{{ path('dashboard_user_rapports_show', {id: rapport.id}) }}">Show</a>
                                <a class="btn btn-outline-success disabled" type="button"  href="">Print</a>
                                <a type="button" onclick="return confirmRegistre(this)" class="btn btn-outline-danger" href="{{ path('rapports_delete_admin', {id: rapport.id}) }}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script>

function confirmRegistre(el) {
        swal({
            title: "Êtes-vous sûr ?",
            text: "Une fois supprimé, vous ne pourrez pas récupérer ce fichier!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            })
            .then((willDelete) => {
            if (willDelete) {
                // swal("Poof! Your imaginary file has been deleted!", {
                // icon: "success",
                // });
                window.location = el.getAttribute("href");
            } else {
                swal("Votre fichier  est en sécurité !");
            }
            });
            return false;
        }
    </script>
 
{% endblock %}